[submodule "firmware/lib/TinyVGM"]
	path = firmware/lib/TinyVGM
	url = ../TinyVGM
[submodule "firmware/lib/fatfs"]
	path = firmware/lib/fatfs
	url = ../no-OS-FatFS-SD-SPI-RPi-Pico
[submodule "firmware/lib/sharpmem-rp2040"]
	path = firmware/lib/sharpmem-rp2040
	url = ../sharpmem-rp2040
