[submodule "lib/no-OS-FatFS"]
	path = lib/no-OS-FatFS
	url = ../no-OS-FatFS-SD-SPI-RPi-Pico
[submodule "lib/TinyVGM"]
	path = lib/TinyVGM
	url = ../TinyVGM.git
[submodule "lib/sharpmem-rp2040"]
	path = lib/sharpmem-rp2040
	url = ../sharpmem-rp2040
